{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <meta name="description" content="java spark mvc pattern">
        <meta name="author" content="George">
        <title>{{#block "title"}}Welcome to Resume creator{{/block}}</title>
        <link rel="icon" href="https://assetscdn1.paytm.com/images/catalog/product/L/LA/LAPGANDIVA-ECONNALL1088566365C7F92/1615367285787_0..jpg" type="image/x-icon" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>
{{/block}}
<div class="">
    {{#block "content"}}
    {{/block}}

</div>

{{#block "footer"}}


    </body>
    </html>
{{/block}}