{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Welcome to Resume creator{{/block}}</title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>
{{/block}}
<div class="">
    {{#block "content"}}
    {{/block}}

</div>

{{#block "footer"}}


    </body>
    </html>
{{/block}}