{{#partial "content"}}
<div class="from-purple-100 via-red-300 to-indigo-500 bg-gradient-to-br min-h-screen">
    <h3 class="text-center pt-14 text-gradient-to-br from-black/75 text-bold text-lg">Welcome to Resume creator, <em>Create it for free</em></h3>
    <div class="mt-32 relative mx-6">
        <h1 class="text-5xl font-extrabold tracking-tight text-center"></h1>
        <ul class="mt-10 pb-8 px-[4rem] w-full flex overflow-x-auto gap-8 snap-x">
            <li class="snap-center">
                <div class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl">
                    <img
                            src="https://wallpapercave.com/wp/wp4676582.jpg"
                            alt=""
                            class="absolute inset-0 w-full h-full object-cover object-bottom"
                    />
                    <div class="absolute inset-0 h-full w-full" ></div>
                    <div class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start">
                        <div>
                            <p class="font-medium text-white">Resume Creator</p>
                            <h2 class="mt-3 w-2/3 text-sm font-semibold tracking-tight text-white">
                                Create the list of resumes here.
                            </h2>
                        </div>
                        <a class="px-2 py-1 rounded-lg bg-blue-500 text-white hover:bg-blue-200 text-slate-900 text-sm font-medium" href="/creator">Create Resume</a>
                    </div>
                </div>
            </li>
            <li class="snap-center">
                <div class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl">
                    <img
                            src="https://wallpapercave.com/wp/wp4676582.jpg"
                            alt=""
                            class="absolute inset-0 w-full h-full object-cover object-bottom"
                    />
                    <div class="absolute inset-0 h-full w-full" ></div>
                    <div class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start">
                        <div>
                            <p class="font-medium text-white">List of resumes</p>
                            <p class="mt-3 w-2/3 text-sm font-semibold tracking-tight text-white">
                                Modify and delete if it does not sound good.
                            </p>
                        </div>
                        <a class="px-2 py-1 rounded-lg text-slate-900 text-sm font-medium text-white bg-blue-500 hover:bg-blue-200" href="/resumes">See List</a>
                    </div>
                </div>
            </li>
            <li class="snap-center">
                <div class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl">
                    <img
                            src="https://wallpapercave.com/wp/wp4676582.jpg"
                            alt=""
                            class="absolute inset-0 w-full h-full object-cover object-bottom"
                    />
                    <div class="absolute inset-0 h-full w-full" ></div>
                    <div class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start">
                        <div>
                            <p class="font-medium text-white">just word</p>
                            <p class="mt-3 w-2/3 text-sm font-semibold tracking-tight text-white">
                                Most resumes contain the same basic elements: contact info, a profile summary and sections for experience, education, skills and achievements. While our builder tool makes it easy to add or delete sections based on your industry and needs, it’s a good idea to start with a resume template that offers you the best chances at customization. </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="snap-center">
                <div class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl">
                    <img
                            src="https://wallpapercave.com/wp/wp4676582.jpg"
                            alt=""
                            class="absolute inset-0 w-full h-full object-cover object-bottom"
                    />
                    <div class="absolute inset-0 h-full w-full" ></div>
                    <div class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start">
                        <div>
                            <p class="font-medium text-white">Learn how to write best resume</p>
                            <p class="mt-3 w-2/3 text-sm font-semibold tracking-tight text-white">
                                Go to see the best resumes out.
                            </p>
                        </div>
                        <a href="https://zety.com/resume-examples" class="px-2 py-1 text-white rounded-lg bg-blue-500 hover:bg-blue-200 text-slate-900 text-sm font-medium">
                            Zety, another websito
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{{/partial}}

{{> layout.hbs}}
